<h1 class="header">Todos</h1>
<div class="container">
  <div class="card">
    <div class="card-body bg-white">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Description</th>
          <th scope="col">Summary</th>
          <th scope="col" class="actions"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let todo of todo_list">
          <td>{{ todo.id }}</td>
          <td>{{ todo.description }}</td>
          <td>{{ todo.summary }}</td>
          <td>
            <button class="delete" (click)="removeTodo(todo.id)">Delete </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="my-5">
      <div class="card-body">
        <h4 class="text-black"> Add Todo</h4>
        <form (ngSubmit)="onSubmit()" #todoForm="ngForm">
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" [(ngModel)]="todo.description"
                   class="form-control"
                   id="description"
                   name="description"
                   placeholder="Enter description"
                   required #name="ngModel">
          </div>
          <div [hidden]="todo.description" class="alert alert-danger">Description is required</div>
          <div class="form-group">
            <label for="summary">Summary</label>
            <input type="text" [(ngModel)]="todo.summary"
                   class="form-control"
                   id="summary"
                   name="summary"
                   placeholder="Enter summary"
                   required description="ngModel">
            <div [hidden]="todo.summary" class="alert alert-danger">Summary is required</div>
          </div>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <button type="submit" [disabled]="!todoForm.form.valid"
                      class="btn btn-info">Add</button>
            </li>
            <li class="list-inline-item">
              <button type="button" class="btn btn-info" (click)="ngOnInit()"> Refresh</button>
            </li>
          </ul>
          <p class="center text-black paragraph"> Remember to refresh page after adding todo! </p>
        </form>
      </div>
    </div>
  </div>
</div>
